body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: white;
  max-width: 1000px;
  padding: 10px 20px 10px 20px;
  margin: auto;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 4px;
}

#title {
  display: flex;
  justify-content: space-between;
  h1, h3 {
    align-self: baseline;
  }
}

h1 {
  color: #ffc32a;
  font-size: 42px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}

#left-eye, #right-eye {
  position: relative;
}

#right-eye:before, #left-eye:before {
  position: absolute;
  width: 0.5em;
  color: black;
  text-align: center;
}

#right-eye:before {
  content: url("assets/eye-right.svg");
  width: 0.5em;
  top: -0.45em;
  left: -0.04em;
}

#left-eye:before {
  content: url("assets/eye-left.svg");
  width: 0.5em;
  top: -0.45em;
  left: -0.20em;
}

h3 {
  font-size: 30px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}

#encode-toggle {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 15px;
  & div {
    display: inline;
    text-align: right;
    vertical-align: middle;
    border: 0;
    padding: 0;
    margin: 0;
  }
  & button {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    border: 1px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    border-radius: 15px;
  }

  & button:hover {
    cursor: pointer;
  }
  & button.toggled-on {
    font-weight: 500;
    background-color: #ffc32a;
    color: white;
  }
  & button:not(.toggled-on) {
    font-weight: 300;
    color: black;

  }
  & button:not(.toggled-on):not(:hover) {
    opacity: 55%;
    border-color: #ffffff00;
  }
}

p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: black;
}

button {
  font-weight: 400;
}

input, textarea {
  border: 0;
  color: #E19416;
  color: black;
  border: 1px rgba(0, 0, 0, 0.09) solid;
}

input {
  border-radius: 15px;
  padding: 8px 16px;
}

textarea {
  font-size: 25px;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  resize: vertical;
  resize: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 12px 12px;
  vertical-align: top
}

#output-textarea {
  background-color: #ffc32a14;
}

textarea.left-textarea {
    border-radius: 15px 0px 0px 15px;
}
textarea:not(.left-textarea) {
  border-radius: 0px 15px 15px 0px;
  border-left: 0;
}

textarea:focus {
  outline: none;
}

textarea.left-textarea:focus, input:focus { 
  border: 1px #E19416 solid;
  outline: none;
}

#alphabet-field {
  text-align: left;
}

#alphabet-input {
  font-size: 24px;
  box-sizing: border-box;
}

.relative {
  position: relative;
}

#converter-row {
  max-width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

#converter-row.reverse {
  flex-direction: row-reverse;
}

#plain-field, #encoded-field {
  text-align: left;
  flex: 1 1 auto;
}

#converter-row-gap {
  width: 0px;
}

button.copy-icon {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
  
  & img {
    margin: 0;
    height: 20px;
    display: block;
  }
}

button.copy-icon:hover {
  cursor: pointer;
}

.textarea-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#alphabet-row {
  margin-top: 15px;
}

#alphabet-field {
  padding-right: 10px;
}

#alphabet-input {
  width: 100%;
}

#footer {
  margin-top: 20px;
  & p {
    font-size: 15px;
    opacity: 70%;
    text-align: left;
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  #alphabet-row {
    width: 100%;
  }
  #alphabet-field {
    padding-right: 0;
  }
  body {
    padding: 10px 10px 10px 10px;
  }
  #encode-toggle>div {
    text-align: center;
  }

  #header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }

  #title {
    justify-content: space-between;
  }

  #converter-row-gap {
    width: 0px;
  }

  h3 {
    font-size: 20px;
  }

}

